[defaults]
inventory = inventory/hosts/production.yml
roles_path = roles
vault_password_file = .vault_pass
host_key_checking = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
pipelining = True
