[Unit]
Description=WP Packages Cleanup Expired Sessions

[Service]
Type=oneshot
User=deploy
Group=www-data
WorkingDirectory={{ app_root }}/current
ExecStart={{ app_root }}/current/{{ go_binary_name }} cleanup-sessions --db {{ db_path }}
StandardOutput=append:{{ app_root }}/shared/storage/logs/cleanup.log
StandardError=append:{{ app_root }}/shared/storage/logs/cleanup.log
EnvironmentFile={{ app_root }}/shared/.env
